@model MainInfoViewModel

<div>
    <nav class="container-nav">
        <a class="btn-simple " asp-action="Index">Home</a>
        <a class="btn-simple" href="#">About</a>
        <a class="btn-simple" asp-action="ChatTest">ChatTEst</a>
        <a class="btn-simple" asp-action="CreateTheme">Create airTheme</a>
        <a class="btn-simple" asp-action="SelectTheme">Select airTheme</a>
        <a class="btn-simple">Account Settings</a>
        <a class="btn-simple" asp-controller="Account" asp-action="LogOut">LogOut</a>
    </nav>
</div>
<div class="container">
    <div class="test1 sidebar">
        <div class="other">
            @{ if (Model.currentTheme == null)
                {
                    <label>Empty</label>
                }
                else
                {
                    <label>@Model.currentTheme.name</label>
                }
            }
        </div>
        <div class="user-block">
            <label>@Model.currentUser.login</label>
            <img src="" alt="Icon">
        </div>
    </div>
    <div class="test2 chatbox">
        <div class="chat-view" id="chat">
            @{ if (Model.currentTheme == null)
                {
                    <div class="message">
                        <span>Choose the theme to start airTalking!</span>
                    </div>
                }
                else
                {
                    foreach (var mes in Model.messages)
                    {
                        <div class="message">
                            <label>@mes.userSenderId.</label>
                        </div>
                    }
                }
            }
            <div class="message">
                <label for="">Tom:</label>
                <span>Hello!</span>
            </div>
            <div class="message">
                <label for="">Andrew:</label>
                <span> Hi!111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111x</span>
            </div>
        </div>
        <div>
            <form method="post">
                <textarea class="" name="" id="textBox" cols="30" rows="6"></textarea>
                <div><button type="submit" id="btnSend">Send</button></div>
            </form>
        </div>
    </div>
    <div class="test3 themebox">
        @{
            if (Model.currentTheme != null)
            {
                <div>
                    <header>
                        @Model.currentTheme.name
                    </header>
                    @*<img src="img/airTalkLogo.png">*@
                </div>
                <div class="theme-text">
                    @Model.currentTheme.body
                </div>
                <div class="theme-container-voters">
                    <button class="btn-simple">Like</button>
                    <button class="btn-simple">Add to favorites</button>
                    <button class="btn-simple">Dislike</button>
                </div>
            }
        }
    </div>
</div>

@section Scripts
{
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
}